{% extends 'base.html.twig' %}

{% block contenu %}

    <img src="{{ asset('pictures/philippe-etchebest-1200x720.jpg') }}" alt="Philippe Etchebest">
    <div>
        <h1>Prêts à vous régaler?</h1>
    </div>

{% endblock %}